.secao-horizontal{
   display: grid;
   grid-template-rows: 120px auto;
   column-gap: 1.25rem;
}
.secao-vertical{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows:  1fr 2fr;
}
.secao-vertical .secao__cartoes{
  grid-column: 1/3;
}